body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-46px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:3340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:1200px;
  height:3340px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:572px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:88px;
  width:1200px;
  height:572px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:218px;
  width:218px;
  height:101px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:2869px;
  width:448px;
  height:44px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:2935px;
  width:348px;
  height:50px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:2995px;
  width:160px;
  height:50px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:351px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:3097px;
  width:1200px;
  height:351px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:3203px;
  width:169px;
  height:45px;
  display:flex;
  color:#999999;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:3159px;
  width:111px;
  height:12px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:3393px;
  width:150px;
  height:15px;
  display:flex;
  color:#666666;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:3159px;
  width:116px;
  height:12px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:3352px;
  width:1200px;
  height:1px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:3159px;
  width:114px;
  height:34px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:3391px;
  width:89px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#999999;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:3159px;
  width:116px;
  height:12px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:3189px;
  width:169px;
  height:108px;
  display:flex;
  font-size:11px;
  color:#999999;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:3185px;
  width:63px;
  height:63px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:3185px;
  width:63px;
  height:63px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:3185px;
  width:63px;
  height:63px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:3251px;
  width:63px;
  height:63px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:3251px;
  width:63px;
  height:63px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:3251px;
  width:63px;
  height:63px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:3391px;
  width:29px;
  height:29px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_img.mouseOver.mouseDown {
}
#u24.mouseOver.mouseDown {
}
#u24_img.mouseOver.selected {
}
#u24.mouseOver.selected {
}
#u24_img.mouseOver.error {
}
#u24.mouseOver.error {
}
#u24_img.mouseOver.hint {
}
#u24.mouseOver.hint {
}
#u24_img.mouseOver.selected.error {
}
#u24.mouseOver.selected.error {
}
#u24_img.mouseOver.selected.hint {
}
#u24.mouseOver.selected.hint {
}
#u24_img.mouseOver.selected.error.hint {
}
#u24.mouseOver.selected.error.hint {
}
#u24_img.mouseOver.error.hint {
}
#u24.mouseOver.error.hint {
}
#u24_img.mouseOver.mouseDown.selected {
}
#u24.mouseOver.mouseDown.selected {
}
#u24_img.mouseOver.mouseDown.error {
}
#u24.mouseOver.mouseDown.error {
}
#u24_img.mouseOver.mouseDown.hint {
}
#u24.mouseOver.mouseDown.hint {
}
#u24_img.mouseOver.mouseDown.selected.error {
}
#u24.mouseOver.mouseDown.selected.error {
}
#u24_img.mouseOver.mouseDown.selected.hint {
}
#u24.mouseOver.mouseDown.selected.hint {
}
#u24_img.mouseOver.mouseDown.selected.error.hint {
}
#u24.mouseOver.mouseDown.selected.error.hint {
}
#u24_img.mouseOver.mouseDown.error.hint {
}
#u24.mouseOver.mouseDown.error.hint {
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:3391px;
  width:29px;
  height:29px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseOver.mouseDown {
}
#u25.mouseOver.mouseDown {
}
#u25_img.mouseOver.selected {
}
#u25.mouseOver.selected {
}
#u25_img.mouseOver.error {
}
#u25.mouseOver.error {
}
#u25_img.mouseOver.hint {
}
#u25.mouseOver.hint {
}
#u25_img.mouseOver.selected.error {
}
#u25.mouseOver.selected.error {
}
#u25_img.mouseOver.selected.hint {
}
#u25.mouseOver.selected.hint {
}
#u25_img.mouseOver.selected.error.hint {
}
#u25.mouseOver.selected.error.hint {
}
#u25_img.mouseOver.error.hint {
}
#u25.mouseOver.error.hint {
}
#u25_img.mouseOver.mouseDown.selected {
}
#u25.mouseOver.mouseDown.selected {
}
#u25_img.mouseOver.mouseDown.error {
}
#u25.mouseOver.mouseDown.error {
}
#u25_img.mouseOver.mouseDown.hint {
}
#u25.mouseOver.mouseDown.hint {
}
#u25_img.mouseOver.mouseDown.selected.error {
}
#u25.mouseOver.mouseDown.selected.error {
}
#u25_img.mouseOver.mouseDown.selected.hint {
}
#u25.mouseOver.mouseDown.selected.hint {
}
#u25_img.mouseOver.mouseDown.selected.error.hint {
}
#u25.mouseOver.mouseDown.selected.error.hint {
}
#u25_img.mouseOver.mouseDown.error.hint {
}
#u25.mouseOver.mouseDown.error.hint {
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:3391px;
  width:29px;
  height:29px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u26_img.mouseOver.mouseDown {
}
#u26.mouseOver.mouseDown {
}
#u26_img.mouseOver.selected {
}
#u26.mouseOver.selected {
}
#u26_img.mouseOver.error {
}
#u26.mouseOver.error {
}
#u26_img.mouseOver.hint {
}
#u26.mouseOver.hint {
}
#u26_img.mouseOver.selected.error {
}
#u26.mouseOver.selected.error {
}
#u26_img.mouseOver.selected.hint {
}
#u26.mouseOver.selected.hint {
}
#u26_img.mouseOver.selected.error.hint {
}
#u26.mouseOver.selected.error.hint {
}
#u26_img.mouseOver.error.hint {
}
#u26.mouseOver.error.hint {
}
#u26_img.mouseOver.mouseDown.selected {
}
#u26.mouseOver.mouseDown.selected {
}
#u26_img.mouseOver.mouseDown.error {
}
#u26.mouseOver.mouseDown.error {
}
#u26_img.mouseOver.mouseDown.hint {
}
#u26.mouseOver.mouseDown.hint {
}
#u26_img.mouseOver.mouseDown.selected.error {
}
#u26.mouseOver.mouseDown.selected.error {
}
#u26_img.mouseOver.mouseDown.selected.hint {
}
#u26.mouseOver.mouseDown.selected.hint {
}
#u26_img.mouseOver.mouseDown.selected.error.hint {
}
#u26.mouseOver.mouseDown.selected.error.hint {
}
#u26_img.mouseOver.mouseDown.error.hint {
}
#u26.mouseOver.mouseDown.error.hint {
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:410px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:1208px;
  width:1200px;
  height:410px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1378px;
  width:224px;
  height:103px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u28 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
  text-align:center;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:730px;
  width:420px;
  height:74px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
  text-align:center;
}
#u29 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:28px;
  width:1200px;
  height:60px;
  display:flex;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:44px;
  width:14px;
  height:24px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u32 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:49px;
  width:11px;
  height:22px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:24px;
  width:32px;
  height:48px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:47px;
  width:12px;
  height:24px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:51px;
  width:42px;
  height:13px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:51px;
  width:24px;
  height:13px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:51px;
  width:23px;
  height:13px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:51px;
  width:21px;
  height:13px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:1200px;
  height:30px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:7px;
  width:29px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:8px;
  width:93px;
  height:12px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:8px;
  width:80px;
  height:12px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:51px;
  width:45px;
  height:13px;
  display:flex;
  font-family:'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u44 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:333px;
  width:120px;
  height:70px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:358px;
  width:18px;
  height:21px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:427px;
  width:127px;
  height:30px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:427px;
  width:127px;
  height:30px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1378px;
  width:95px;
  height:70px;
  display:flex;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1402px;
  width:18px;
  height:21px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:284px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1889px;
  width:477px;
  height:284px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u52 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:1911px;
  width:365px;
  height:128px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
}
#u53 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:2087px;
  width:203px;
  height:30px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
  text-align:center;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:2268px;
  width:420px;
  height:74px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
  text-align:center;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:354px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:2438px;
  width:266px;
  height:354px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u56 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:354px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:2438px;
  width:457px;
  height:354px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u57 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:179px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:2438px;
  width:212px;
  height:179px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u58 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:162px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:2630px;
  width:212px;
  height:162px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u59 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:2368px;
  width:104px;
  height:30px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:66px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:260px;
  width:73px;
  height:66px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:66px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:336px;
  width:73px;
  height:66px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:331px;
  width:73px;
  height:1px;
  display:flex;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:604px;
  width:24px;
  height:26px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u64 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:589px;
  width:68px;
  height:11px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u65 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:284px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:878px;
  width:317px;
  height:284px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
}
#u67 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:284px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:878px;
  width:317px;
  height:284px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
}
#u69 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:284px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:878px;
  width:317px;
  height:284px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-style:normal;
}
#u71 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:193px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1666px;
  width:235px;
  height:193px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:193px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1666px;
  width:235px;
  height:193px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:193px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:1666px;
  width:235px;
  height:193px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:193px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1666px;
  width:235px;
  height:193px;
  display:flex;
  font-family:'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
